@import url(/banner/banner-boton.css);
@import url(/banner/banner-img.css);
@import url(/banner/banner-titulo-principal.css);
@import url(/banner/banner-titulo-second.css);
@import url(/banner/banner-titulos.css);
@import url(/banner/banner-slider.css);

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    width: 100vw;    
}

