@import url(/assets/css/header/header-boton.css);
@import url(/assets/css/header/header-buscar.css);
@import url(/assets/css/header/header-input.css);
@import url(/assets/css/header/header-logo.css);
@import url(/assets/css/header/header-lupa.css);

.header {
    display: flex;
    width: 100%;
    padding: 1.9rem 9%;
    align-items: center;
    background: var(--bg-color);
    position: relative;
    overflow: visible;
    gap: .7rem;
}

@media (max-width: 617px) {
    .header {
        justify-content: space-around;
        padding: 1rem;
    }
}
