@import url(/producto/producto-barra-lista-item-imagen.css);
@import url(/producto/producto-barra-lista-item-link.css);
@import url(/producto/producto-barra-lista-item.css);
@import url(/producto/producto-barra-lista.css);
@import url(/producto/producto-barra-titulo-boton-flecha.css);
@import url(/producto/producto-barra-titulo-boton.css);
@import url(/producto/producto-barra-titulo-pricipal.css);
@import url(/producto/producto-barra-titulo.css);
@import url(/producto/producto-barra.css);
@import url(/producto/totalProducto.css);

.producto {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    width: 98.9vw;
    flex-direction: column;
    align-items: center;
    gap: 4rem;    
}